JWT_SECRET=cambia_esto_por_algo_muy_secreto_32chars_minimo
ADMIN_USER=admin
ADMIN_PASS=vibmon2024
PORT=3000

CLOUDINARY_CLOUD_NAME=ddfbuh46l
CLOUDINARY_API_KEY=892334931819298
CLOUDINARY_API_SECRET=OSZGfOg-Y3HbX51W3xQAOTWVbSM
